*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}
body {
    background-image: url(../images/white-abstract-paint-background_108128-275.jpg.avif);
  }

.header {
    overflow: hidden;
    background-color: white;
     font-family: 'Josefin Sans', sans-serif;
    position: relative;
  }
  
  /* Hide the links inside the navigation menu (except for logo/home) */
  .header #myLinks {
    display: none;
  }
  
  /* Style navigation menu links */
  .header a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
  }
  
  /* Style the hamburger menu */
  .header a.icon {
    background: black;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }
  
  /* Add a grey background color on mouse-over */
  .header a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Style the active link (or home/logo) */
  .active {
    background-color: white;
    color: black;
  } 
/* HEADER CSS */
/*  
.header *{
    background-color: white;
    font-family: 'Josefin Sans', sans-serif;
    color: black;
    padding: 1rem;
    margin: 0;

}

.logo {    
    position: absolute;
    padding: 0;
}

.header li {
    display: flex;
    justify-content: flex-end;
    align-content: stretch;
    margin-right: 1rem;
}
a:hover {
    background: Navy;
}
/* ARTICLE CSS*/
hr{
    border: white solid;
    border-width: 2px;
    margin-left: 15%;
    margin-right: 15%;
}
.container1 {
    position: relative;
    text-align: center;
    color: white;
    z-index: -1;
}
.container2 {
    text-align: center;
    color: white;
    padding-top: 9.5%;
    font-size: 1.5rem;
}
#heading1 {
    font-size: 4rem;
    color: rgb(112, 112, 127);
}
#subtitle1 {
    color: rgb(112, 112, 127);
    }
a {
    color: rgb(112, 112, 127);
}
p {
    color: black;
    font-style: italic;
}
/* Footer */
.iconlist {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    font-size: 30px;
}

/*small*/
@media only screen and (min-width: 0px) and (max-width:410px){
    header * {
        display: flex;
        font-size: x-small;

    }
}
/*MEDIUM*/
@media only screen and (min-width: 511px) and (max-width:960px){           
    header * {
        position: relative;


}

/*

 border: red solid;
    font-size: 20px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin-inline-start: auto;
    padding-right: 3rem;
    padding-top: 6rem;
    padding-left: 10rem;
    justify-content: center;
      }
    .fa-facebook {
    font-family: 'Josefin Sans', sans-serif;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    height: 60px;
    width: 60px;
    margin: 0 5px;
    background: rgb(143, 143, 143);
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 0px 10px 10px;
}*/




